.events-page-block {
  padding-top: pxem(60);
  margin-bottom: pxem(150);

  .-content {
    @include col(12);

    @include mq($from: $breakpoint-medium) {
      @include col(8);
      @include offset(2);
    }
  }

  p,
  span {
    color: $text-dark;
    @include text-paragraph;
  }

  h3,
  strong {
    color: $text-darkest;
  }

  h3 {
    @include title-event;
  }

  .-sub {
    @include text-sub;
    color: $color-gray;
  }

  .-item {
    padding-top: pxem(25);
    padding-bottom: pxem(30);
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    flex-wrap: wrap;
  }

  .-title {
    @include col(12);
  }

  .-description {
    @include col(12);
    margin-bottom: pxem(35);

    @include mq($from: $breakpoint-medium) {
      @include col(7);
      margin-bottom: 0;
    }
  }

  .-info {
    @include col(12);

    @include mq($from: $breakpoint-medium) {
      @include col(5);
    }

    span {
      display: block;
    }

    .-time {
      margin-bottom: pxem(35);
    }
  }
}
