.text-icon-repeatable {

  .-container {
    @include container;
  }

  h2 {
    margin: 0 0 pxem(50) 0;

    span {
      @include title-secondary;
      color: $text-darkest;
      @include text-heavy-underline;
    }
  }

  .-content {
    @include col(12);

    @include mq($from: $breakpoint-medium) {
      @include col(8);
      @include offset(2);
    }
  }

  .-item {
    @include col(12);
    margin-bottom: pxem(40);

    @include mq($from: $breakpoint-medium) {
      @include col(6);
      margin-bottom: pxem(60);
    }

    p {
      @include text-paragraph;
      color: $text-darkest;
      padding-right: pxem(15);
    }

    .-sub {
      @include text-sub;
      color: $text-darkest;
      text-transform: uppercase;
      margin: pxem(15) 0 0 0;
    }
  }

  .-icon {
    img {
      height: pxem(65);
      width: auto;
    }
  }

  .-link {
    text-align: right;

    a {
      @include link-sub;
      color: $brand-blue;
      text-transform: uppercase;
      transition: color 240ms $t-1;

      svg {
        margin: pxem(-2) 0 0 pxem(10);


        path {
          transition: fill 240ms $t-1;
        }
      }

      &:hover {
        color: darken($brand-blue, 15%);

        svg path {
          fill: darken($brand-blue, 15%)
        }
      }
    }
  }
}
