/*
********************
Styles for spacing utilities
********************

We use these to have more granuar controll over
the spacing of various eleents across the site.

*/

.mb {

  @for $i from 1 through 10 {
    &#{$i}0 {
      margin-bottom: #{$i}0px !important;
    }
  }

  &-gutter {
    margin-bottom: $gutter-width;
  }
}

.mt {

  @for $i from 1 through 10 {
    &#{$i}0 {
      margin-top: #{$i}0px !important;
    }
  }

  &-gutter {
    margin-top: $gutter-width;
  }
}
