doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1 user-scalable=no")
    link(rel="stylesheet" type="text/css" href="https://cloud.typography.com/7014452/7248972/css/fonts.css")
    link(rel="stylesheet" href="./assets/css/style.css")

  block content


  script(src="./js/app.js")
