nav.mobile-nav-wrapper
  .-container
    .row.-mobile
      .-controls
        div.hamburger.hamburger--squeeze
          span.hamburger-box
            span.hamburger-inner
        div#closeOpen Menu
      .-logo
      .-contact
        a(href="#") Contact
.mobile-nav
  .-container
    .row
      ul.mb50
        li
          a(href="#") Home
        li
          a(href="#") Solutions
        li
          a(href="#") Our Team
        li
          a(href="#") Blog
        li
          a(href="#") Work with Us
      a(href="#") Login to HRC
